<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyeed.dao.db.write.xzn.sku.MdSkuWriteDao">
	<resultMap id="MdSkuResult" type="com.iyeed.core.entity.sku.MdSku">
			<result property="id" column="id" />
			<result property="skuId" column="sku_id" />
			<result property="skuCode" column="sku_code" />
			<result property="skuName" column="sku_name" />
			<result property="skuNameEn" column="sku_name_en" />
			<result property="brandNo" column="brand_no" />
			<result property="brandCode" column="brand_code" />
			<result property="brandName" column="brand_name" />
			<result property="inputDate" column="input_date" />
	</resultMap>

	<!-- 查询条件 -->
	<sql id="whereConditions">
		<where>
			<if test="queryMap.brandNo != null and queryMap.brandNo !=''"  > and brand_no= #{queryMap.brandNo}</if>
		</where>
	</sql>
	
	<select id="get" parameterType="Integer" resultMap="MdSkuResult">
		select
		   *
		from md_sku
		where id = #{id}
	</select>

	<select id="getSkuList" parameterType="java.util.Map" resultMap="MdSkuResult">
		select
		   *
		from md_sku
		<include refid="whereConditions"/>
	</select>
	
	<update id="update" parameterType="com.iyeed.core.entity.sku.MdSku">
        update md_sku
    	<set>
			<if test="skuId != null">sku_id= #{skuId},</if>
			<if test="skuCode != null">sku_code= #{skuCode},</if>
			<if test="skuName != null">sku_name= #{skuName},</if>
			<if test="skuNameEn != null">sku_name_en= #{skuNameEn},</if>
			<if test="brandNo != null">brand_no= #{brandNo},</if>
			<if test="brandCode != null">brand_code= #{brandCode},</if>
			<if test="brandName != null">brand_name= #{brandName},</if>
			<if test="inputDate != null">input_date= #{inputDate}</if>
	    </set>
        where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.iyeed.core.entity.sku.MdSku" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		md_sku
		(
			sku_id,
			sku_code,
			sku_name,
			sku_name_en,
			brand_no,
		  	brand_code,
			brand_name
		)
		values
		(
			#{skuId},
			#{skuCode},
			#{skuName},
			#{skuNameEn},
			#{brandNo},
			#{brandCode},
			#{brandName}
		)
	</insert>
	
</mapper>