<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyeed.dao.db.write.xzn.user.MdUserWriteDao">
	<resultMap id="MdUserResult" type="com.iyeed.core.entity.user.MdUser">
			<result property="id" column="id" />
			<result property="userId" column="user_id" />
			<result property="userNo" column="user_no" />
			<result property="userName" column="user_name" />
			<result property="userNameEn" column="user_name_en" />
			<result property="userPid" column="user_pid" />
			<result property="email" column="email" />
			<result property="inputDate" column="input_date" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MdUserResult">
		select
		   *
		from md_user
		where id = #{id}
	</select>

	<select id="getUserByUserId" parameterType="String" resultMap="MdUserResult">
		select
		*
		from md_user
		where user_id = #{userId}
	</select>

	<select id="getUserByUserNo" parameterType="String" resultMap="MdUserResult">
		select
		*
		from md_user
		where user_no = #{userNo}
	</select>

    <select id="getUserListByUserNo" parameterType="String" resultMap="MdUserResult">
		WITH md_user1
		AS (SELECT   *
			FROM md_user
			WHERE user_pid = #{userNo}
			UNION ALL
			SELECT mu.*
			FROM md_user mu
			INNER JOIN md_user1 ON mu.user_pid = md_user1.user_id
		)
		SELECT * FROM md_user1
	</select>
	
	<update id="update" parameterType="com.iyeed.core.entity.user.MdUser">
        update md_user
    	<set>
			
			<if test="userId != null">user_id= #{userId},</if>
			<if test="userNo != null">user_no= #{userNo},</if>
			<if test="userName != null">user_name= #{userName},</if>
			<if test="userPid != null">user_pid= #{userPid},</if>
			<if test="userNameEn != null">user_name_en= #{userNameEn},</if>
			<if test="email != null">email= #{email},</if>
			<if test="inputDate != null">input_date= #{inputDate}</if>
	    </set>
        where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.iyeed.core.entity.user.MdUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		md_user_copy1
		(
			
			user_id,
			user_no,
			user_name,
			user_name_en,
			user_pid,
			email
		)
		values
		(
			
			#{userId},
			#{userNo},
			#{userName},
			#{userNameEn},
			#{userPid},
			#{email}
		)
	</insert>
	
</mapper>