<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyeed.dao.db.write.xzn.user.MdUserWriteDao">
	<resultMap id="MdUserResult" type="com.iyeed.core.entity.user.MdUser">
			<result property="id" column="id" />
			<result property="userId" column="user_id" />
			<result property="userNo" column="user_no" />
			<result property="userName" column="user_name" />
			<result property="userPid" column="user_pid" />
			<result property="post" column="post" />
			<result property="email" column="email" />
			<result property="storeNo" column="store_no" />
			<result property="inputDate" column="input_date" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="MdUserResult">
		select
		   *
		from md_user
		where id = #{id}
	</select>

	<select id="getUserByUserId" parameterType="String" resultMap="MdUserResult">
		select
		*
		from md_user
		where user_id = #{userId}
	</select>

	<select id="getUserByUserNo" parameterType="String" resultMap="MdUserResult">
		select
		*
		from md_user
		where user_no = #{userNo}
	</select>
	
	<update id="update" parameterType="com.iyeed.core.entity.user.MdUser">
        update md_user
    	<set>
			
			<if test="userId != null">user_id= #{userId},</if>
			<if test="userNo != null">user_no= #{userNo},</if>
			<if test="userName != null">user_name= #{userName},</if>
			<if test="userPid != null">user_pid= #{userPid},</if>
			<if test="post != null">post= #{post},</if>
			<if test="email != null">email= #{email},</if>
			<if test="storeNo != null">email= #{store_no},</if>
			<if test="inputDate != null">input_date= #{inputDate}</if>
	    </set>
        where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.iyeed.core.entity.user.MdUser" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		md_user
		(
			
			user_id,
			user_no,
			user_name,
			user_pid,
			post,
			email,
			store_no
		)
		values
		(
			
			#{userId},
			#{userNo},
			#{userName},
			#{userPid},
			#{post},
			#{email},
			#{storeNo}
		)
	</insert>
	
</mapper>