<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyeed.dao.db.write.xzn.stock.BdStockInvWriteDao">
	<resultMap id="BdStockInvResult" type="com.iyeed.core.entity.stock.BdStockInv">
			<result property="id" column="id" />
			<result property="storeNo" column="store_no" />
			<result property="storeName" column="store_name" />
			<result property="skuCode" column="sku_code" />
			<result property="skuName" column="sku_name" />
			<result property="brandNo" column="brand_no" />
			<result property="userNo" column="user_no" />
			<result property="userType" column="user_type" />
			<result property="stockDepot" column="stock_depot" />
			<result property="stockDepotEnabled" column="stock_depot_enabled" />
			<result property="stockCounter" column="stock_counter" />
			<result property="stockCounterEnabled" column="stock_counter_enabled" />
			<result property="updateDate" column="update_date" />
			<result property="stockDepotFreeze" column="stock_depot_freeze" />
			<result property="stockCounterFreeze" column="stock_counter_freeze" />
	</resultMap>

	<resultMap id="BdStockInvSkuResult" type="com.iyeed.core.entity.stock.vo.GetStockInvSkuListBean">
		<result property="id" column="id" />
		<result property="skuCode" column="sku_code" />
		<result property="skuName" column="sku_name" />
		<result property="stockDepot" column="stock_depot" />
		<result property="stockDepotEnabled" column="stock_depot_enabled" />
		<result property="stockCounter" column="stock_counter" />
		<result property="stockCounterEnabled" column="stock_counter_enabled" />
		<result property="stockDepotFreeze" column="stock_depot_freeze" />
		<result property="stockCounterFreeze" column="stock_counter_freeze" />
	</resultMap>

	<resultMap id="BdStockInvReportResult" type="com.iyeed.core.entity.stock.vo.GetStockInvReportListBean">
		<result property="storeId" column="store_id" />
		<result property="storeNo" column="store_no" />
		<result property="storeName" column="store_name" />
		<result property="storeAttr" column="store_attr" />
		<result property="brandName" column="brand_name" />
		<result property="skuCode" column="sku_code" />
		<result property="skuName" column="sku_name" />
		<result property="userNo" column="user_no" />
		<result property="stockDepot" column="stock_depot" />
		<result property="stockDepotEnabled" column="stock_depot_enabled" />
		<result property="stockDepotFreeze" column="stock_depot_freeze" />
		<result property="stockCounter" column="stock_counter" />
		<result property="stockCounterEnabled" column="stock_counter_enabled" />
		<result property="stockCounterFreeze" column="stock_counter_freeze" />
		<result property="total" column="total" />
		<result property="enabledTotal" column="enabledTotal" />
		<result property="freezeTotal" column="freezeTotal" />
		<result property="total" column="total" />
		<result property="region" column="region" />
		<result property="city" column="city" />
		<result property="doorType" column="door_type" />
		<result property="ac" column="ac" />
		<result property="asm" column="asm" />
		<result property="channel" column="channel" />
	</resultMap>
	
	<select id="get" parameterType="Integer" resultMap="BdStockInvResult">
		select
		   *
		from bd_stock_inv
		where id = #{id}
	</select>

	<select id="getStockInvSkuListByStoreNo" parameterType="String" resultMap="BdStockInvSkuResult">
		select
		*
		from bd_stock_inv
		where store_no = #{storeNo}
	</select>

	<select id="getStockInvSkuList" parameterType="java.util.Map" resultMap="BdStockInvSkuResult">
		select
		*
		from bd_stock_inv
		<include refid="whereConditions_store_sku" />
	</select>

	<select id="getStockInvExceptionSkuList" parameterType="java.util.Map" resultMap="BdStockInvSkuResult">
		select a.id,a.sku_code,a.sku_name,
		(case when b.stock_depot is null then 0 else b.stock_depot end) stock_depot,
		(case when b.stock_depot_enabled is null then 0 else b.stock_depot_enabled end) stock_depot_enabled,
		(case when b.stock_counter is null then 0 else b.stock_counter end) stock_counter,
		(case when b.stock_counter_enabled is null then 0 else b.stock_counter_enabled end) stock_counter_enabled,
		(case when b.stock_depot_freeze is null then 0 else b.stock_depot_freeze end) stock_depot_freeze,
		(case when b.stock_counter_freeze is null then 0 else b.stock_counter_freeze end) stock_counter_freeze from
		(select * from md_sku where brand_no = #{queryMap.q_brandNo}) a left join
		(select * from bd_stock_inv
		where store_no = #{queryMap.q_storeNo}
		<if test="queryMap.q_userNo != null and queryMap.q_userNo !=''"  >
			and user_no = #{queryMap.q_userNo}
		</if>
		) b on a.sku_code = b.sku_code order by b.stock_depot desc
	</select>

	<select id="getStockInvReportList" parameterType="java.util.Map" resultMap="BdStockInvReportResult">
		SELECT
		bsi.id,
		ms.store_id,
		bsi.store_no,
		bsi.store_name,
		case when CHARINDEX('MR',bsi.user_no) > 1 then '美容坊' when CHARINDEX('AR',bsi.user_no) > 1 then 'Aerin' else '正常店铺' end store_attr,
		ms.brand_name,
		bsi.sku_code,
		bsi.sku_name,
		bsi.user_no,
		bsi.stock_depot,
		bsi.stock_depot_enabled,
		bsi.stock_depot_freeze,
		bsi.stock_counter,
		bsi.stock_counter_enabled,
		bsi.stock_counter_freeze,
		(bsi.stock_depot + bsi.stock_counter) total,
		(bsi.stock_depot_enabled + bsi.stock_counter_enabled) enabledTotal,
		(bsi.stock_depot_freeze + bsi.stock_counter_freeze) freezeTotal,
		ms.region,
		ms.city,
		ms.door_type,
		ms.ac,
		ms.asm,
		ms.channel
		FROM
		bd_stock_inv AS bsi ,
		md_store AS ms
		<include refid="whereConditions" />
		ORDER BY
		bsi.update_date DESC
		<if test="size != null and size &gt; 0">offset #{start} row fetch next #{size} row only</if>
	</select>

	<select id="getStockInvReportListCount" parameterType="java.util.Map" resultType="java.lang.Integer">
		select
		count(1)
		FROM
		bd_stock_inv AS bsi ,
		md_store AS ms
		<include refid="whereConditions" />
	</select>

	<select id="exportStockInvReportExcel" parameterType="java.util.Map" resultMap="BdStockInvReportResult">
		SELECT
		bsi.id,
		ms.store_id,
		bsi.store_no,
		bsi.store_name,
		case when CHARINDEX('MR',bsi.user_no) > 1 then '美容坊' when CHARINDEX('AR',bsi.user_no) > 1 then 'Aerin' else '正常店铺' end store_attr,
		ms.brand_name,
		bsi.sku_code,
		bsi.sku_name,
		bsi.user_no,
		bsi.stock_depot,
		bsi.stock_depot_enabled,
		bsi.stock_depot_freeze,
		bsi.stock_counter,
		bsi.stock_counter_enabled,
		bsi.stock_counter_freeze,
		(bsi.stock_depot + bsi.stock_counter) total,
		(bsi.stock_depot_enabled + bsi.stock_counter_enabled) enabledTotal,
		(bsi.stock_depot_freeze + bsi.stock_counter_freeze) freezeTotal,
		ms.region,
		ms.city,
		ms.door_type,
		ms.ac,
		ms.asm,
		ms.channel
		FROM
		bd_stock_inv AS bsi ,
		md_store AS ms
		<include refid="whereConditions" />
		ORDER BY
		bsi.update_date DESC
	</select>

	<!-- 查询条件 -->
	<sql id="whereConditions">
		<where>
			bsi.store_no = ms.store_no
			<if test="queryMap.q_brandNo != null and queryMap.q_brandNo !=''">
				and ms.brand_code = (select brand_code from md_brand where brand_no = #{queryMap.q_brandNo})
			</if>
			<if test="queryMap.q_storeNo != null and queryMap.q_storeNo !=''"  > and bsi.store_no = #{queryMap.q_storeNo}</if>
			<if test="queryMap.q_skuCode != null and queryMap.q_skuCode !=''"  > and upper(bsi.sku_code) like CONCAT('%',#{queryMap.q_skuCode},'%')</if>
			<if test="queryMap.q_skuName != null and queryMap.q_skuName !=''"  > and bsi.sku_name like CONCAT('%',#{queryMap.q_skuName},'%')</if>
			<if test="queryMap.q_storeNoArr != null and queryMap.q_storeNoArr !=''">
				and bsi.store_no in
				<foreach item="storeNo" index="index" collection="queryMap.q_storeNoArr" open="(" separator="," close=")">
					#{storeNo}
				</foreach>
			</if>
			<if test="queryMap.q_userNo != null and queryMap.q_userNo !=''"  >
				and bsi.user_no = #{queryMap.q_userNo}
			</if>
		</where>
	</sql>

	<sql id="whereConditions_store_sku">
		<where>
			store_no = #{queryMap.q_storeNo}
			<if test="queryMap.q_userNo != null and queryMap.q_userNo !=''"  >
				and user_no = #{queryMap.q_userNo}
			</if>
		</where>
	</sql>

	<update id="updateDepotToCounter" parameterType="Integer">
		update bd_stock_inv
		<set>
			<if test="moveNum != null">stock_depot= stock_depot - #{moveNum},</if>
			<if test="moveNum != null">stock_depot_enabled= stock_depot_enabled - #{moveNum},</if>
			<if test="moveNum != null">stock_counter= stock_counter + #{moveNum},</if>
			<if test="moveNum != null">stock_counter_enabled= stock_counter_enabled + #{moveNum},</if>
			<if test="updateDate != null">update_date= #{updateDate}</if>
		</set>
		where id = #{id}
	</update>

	<update id="updateCounterToDepot" parameterType="Integer">
		update bd_stock_inv
		<set>
			<if test="moveNum != null">stock_depot= stock_depot + #{moveNum},</if>
			<if test="moveNum != null">stock_depot_enabled= stock_depot_enabled + #{moveNum},</if>
			<if test="moveNum != null">stock_counter= stock_counter - #{moveNum},</if>
			<if test="moveNum != null">stock_counter_enabled= stock_counter_enabled - #{moveNum},</if>
			<if test="updateDate != null">update_date= #{updateDate}</if>
		</set>
		where id = #{id}
	</update>
	
	<update id="update" parameterType="com.iyeed.core.entity.stock.BdStockInv">
        update bd_stock_inv
    	<set>

			<if test="storeNo != null">store_no= #{storeNo},</if>
			<if test="storeName != null">store_name= #{storeName},</if>
			<if test="skuCode != null">sku_code= #{skuCode},</if>
			<if test="skuName != null">sku_name= #{skuName},</if>
			<if test="stockDepot != null">stock_depot= #{stockDepot},</if>
			<if test="stockDepotEnabled != null">stock_depot_enabled= #{stockDepotEnabled},</if>
			<if test="stockCounter != null">stock_counter= #{stockCounter},</if>
			<if test="stockCounterEnabled != null">stock_counter_enabled= #{stockCounterEnabled},</if>
			<if test="updateDate != null">update_date= #{updateDate}</if>
	    </set>
        where id = #{id}
	</update>
	
	<insert id="insert" parameterType="com.iyeed.core.entity.stock.BdStockInv" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		insert into 
		bd_stock_inv
		(
			
			store_no,
			store_name,
			sku_code,
			sku_name,
			brand_no,
			user_no,
			user_type,
			stock_depot,
			stock_depot_enabled,
			stock_counter,
			stock_counter_enabled,
			stock_depot_freeze,
			stock_counter_freeze
		)
		values
		(
			
			#{storeNo},
			#{storeName},
			#{skuCode},
			#{skuName},
			#{brandNo},
			#{userNo},
			#{userType},
			#{stockDepot},
			#{stockDepotEnabled},
			#{stockCounter},
			#{stockCounterEnabled},
			#{stockDepotFreeze},
			#{stockCounterFreeze}
		)
	</insert>

	<!--存在即更新，否则插入-->
	<insert id="insertOrUpdate" parameterType="com.iyeed.core.entity.stock.BdStockInv" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
		IF EXISTS (
		SELECT
		*
		FROM
		bd_stock_inv
		WHERE
		store_no = #{storeNo}
		AND sku_code = #{skuCode}
		AND brand_no = #{brandNo}
		AND user_no = #{userNo}
		)
		BEGIN
		UPDATE bd_stock_inv
		<set>
			<if test = "stockDepot != null" >stock_depot = stock_depot + #{stockDepot}, </if>
			<if test = "stockDepotEnabled != null" >stock_depot_enabled = stock_depot_enabled + #{stockDepotEnabled}, </if>
			<if test = "stockCounter != null" >stock_counter = stock_counter + #{stockCounter}, </if>
			<if test = "stockCounterEnabled != null" >stock_counter_enabled = stock_counter_enabled + #{stockCounterEnabled}, </if>
            <if test = "stockDepotFreeze != null" >stock_depot_freeze = stock_depot_freeze + #{stockDepotFreeze}, </if>
			<if test = "stockCounterFreeze != null" >stock_counter_freeze = stock_counter_freeze + #{stockCounterFreeze} </if>
		</set>
		WHERE
		store_no = #{storeNo}
		AND sku_code = #{skuCode}
		AND brand_no = #{brandNo}
		AND user_no = #{userNo}
		END
		ELSE
		BEGIN
		INSERT INTO
		bd_stock_inv
		(
			store_no,
			store_name,
			sku_code,
			sku_name,
			brand_no,
			user_no,
			user_type,
			stock_depot,
			stock_depot_enabled,
			stock_counter,
			stock_counter_enabled,
            stock_depot_freeze,
			stock_counter_freeze
		)
		VALUES
		(
			#{storeNo},
			#{storeName},
			#{skuCode},
			#{skuName},
			#{brandNo},
			#{userNo},
			#{userType},
			ABS(#{stockDepot}),
			ABS(#{stockDepotEnabled}),
			ABS(#{stockCounter}),
			ABS(#{stockCounterEnabled}),
            ABS(#{stockDepotFreeze}),
			ABS(#{stockCounterFreeze})
		)
		END
	</insert>
	
</mapper>